body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4 , h5, h6{
    font-family: 'Montserrat-Bold';
}

/* Section */

.white-section{
    background-color: #fff;
}

#title{
    background-color: #ff4c68;
}

.big-heading{
    font-family: "Montserrat-Black";
    font-size: 5rem;
    line-height: 1.5;
    font-weight: bolder;
}
.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    color: #fff;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-style: bold;
}

.nav-item{
    padding : 0px 18px;
}

.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #fff;
}


/* Download Button */

.download-btn{
    margin: 5% 3% 5% 0%;
}

/* Title image */

.title-image{
    width: 60%;
    transform: rotate(45deg);
    right: 30%;
}

/* Feature */

#features{
    font-family: 'Montserrat';
    padding: 7% 15%;
    position: relative;
}

.features-box{
    padding: 5%;
}

.features-text{
    font-weight: bolder;
    font-size: 2.5rem;
}

.icon{
    color: #ef8172;
    margin-bottom: 5px;
}

.icon:hover{
    color: pink;
}

/* Testimonial Section */
#testimonials{
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonials-text{
    font-weight: bold;
    font-size: 3.5rem;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press Section */
#press{
    background-color: #ef8172;
    padding-bottom: 10px;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 15px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-weight: bold;
    font-size: 3.5rem;
}

.price-card-heading{
    font-weight: bolder;
    font-size: 2.5rem;
}

.section-heading{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
@media(max-width 1080px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    
}

/* CTA */
#cta{
    background-color: #ef8172;
    padding-top: 3%;
}

.cta-btn{
    margin: 3% 0;
}

.cta-heading{
    font-weight: bolder;
    font-size: 2.5rem;
}

/* Footer */
#footer{
    margin: 10px 0px 0px;
}

.footer-icon{
    margin: 10px;
}